<footer class="text-center ">
    <p class="p-1 m-1">Made with L<i class='bx bxs-heart bx-flashing' style="color: red;" ></i>VE by Nishant rajput</p>
    <p class="p-1  m-1 copyright">Copyright &copy; Almyno Blogs. 2023 </p>
</footer>